body{
    text-align: center;
    background-color: #F8F0E5;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.days{
    width: 75%;
    margin: 50px auto 100px auto;
}


h1{
    color:#285430;
    margin-bottom: 10px;
    font-size: 8rem;
    font-family: 'Caveat', cursive;
}

h2{
    color:#102C57;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color:#102C57;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding: 0;

}

.subheading{
    color:#5F8D4E;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding: 0;
}

hr{
    border: dotted #DAC0A3;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.intro{
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-img{
    width: 30%;
    float: left;
    margin-right: 20px;
    margin-bottom: 0px;
}

.letter{
    margin: 10%;
}

.right-img{
    width: 30%;
    float: right;
    margin-left: 20px;
    margin-bottom: 0px;
}

p{
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;
    margin: 5px;
}


.people-info{
    margin-bottom: 100px;
    text-align: center;
}

.people-pic{
    text-align: center;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
